*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    
}

header{
    display: flex;
    background-color: rgb(252, 201, 91);
    height: 85px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    

    
}
.login-page .reg:hover{
    background-color: red;
 }
 .login-page .log:hover{
    background-color: red;
 }

.first{
    /* background-color: blue; */
    height: 75px;
    width: 40%;
    padding-top: 10px;
    padding-left: 120px;
    color: maroon;
    font-weight: bold;
    
}
figure h1{
    font-family: cursive;
    padding-top: 30px;
}
nav{
    display: flex;
    padding-top: 40px;
    padding-left: 160px;
    /* justify-content: space-between; */
    /* align-content: space-between; */
    gap: 50px;
    height: 40px;
    width: 30%;
    /* background-color: blueviolet; */
}
nav select{
    width: 100px;
    background-color: rgb(252, 201, 91);

}
nav a{
    color: black;
    text-decoration: none;
    font-size: 120%;
}
.second-line{
    height: 20px;
    width: 100%;
    background-color: white;
    color: maroon;
    padding-left: 600px;
    font-weight: 700;
     font-family: Arial, Helvetica, sans-serif;
     position: fixed;
     z-index: 8;
     padding-top: 90px;

}
section{
    background-color: rgb(252, 201, 91);
    height: 40px;
    width: 100%;
    top: 110px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding-top: 10px;
    position: fixed;
    z-index: 78;
}
section .login-page a{
    position: relative;
    left: 80px;
}
section  .info a{
    color: black;
    text-decoration: none;
    padding-top: 10px;
    font-size: 20px;
    padding: 10px;
    position: relative;
    left: 90px;
}
section .login-page{
     background-color: rgb(252, 201, 91);
     height: 20px;
     width: 30%;
     padding-top: 10px;
}
.track{
 background-color: rgb(252, 201, 91);
 width: 100%;
 height: 650px;
 /* display: none; */
position: relative;
top: 160px;
z-index: 1;
}
article{
    display: grid;
    grid-template-columns: 50% 50%;
}
article .first-con h2{
    padding-top: 40px;
    padding-left: 230px;
    color: rgb(239, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    
}
.first-con{
  background-color: white;
  height: 415px;
  width: 82%;
  margin-left: 50px;
  padding: 20px;  

}
.first-con h3{
    padding-left: 150px;
    position: relative;
    bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}
.first-con #text{
    height: 60px;
    width: 80%;
    /* border-left-color: 12px solid red; */
    border: 3px dashed red;
    background-color: whitesmoke;
}
.first-con input:focus{
    outline: 0;
}
.first-con button{
    height: 64px;
    width: 18%;
    background-color: rgb(239, 15, 15);
    color: white;
    font-size: 19px;
    text-transform: none;
    cursor: pointer;
    /* margin-top: 30px; */
}
button{
    transition: 1s ease-in-out;
}
button:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
.second-con{
    width: 80%;
    height:  450px;
    background-image: url(hsbs\ craft.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    position: relative;
    left: 50px;
    /* top: 30px; */
    
}
.second-con #nvh{
    height: 30px;
    width: 40%;
    background-color: green;

}
.easy{
    height: 100px;
    width: 20%;
    background-color: rgb(252, 201, 91);
    position: relative;
    top: 60px;
    left: 600px;
    text-align: center;
    font-size: 1.5rem;

}
